@model Teste;

@{
    ViewData["Title"] = "Index";
}

<h1>Meu objeto</h1>
<div>
    <p>Propriedade 1: @Model.Propriedade1</p>
    <p>Propriedade 2: @Model.Propriedade2</p>
    <p>ID: @Model.Id</p>
</div>
